
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap');



.taille{

height: 22px;
width: 22px;

}
body{

    height: 100vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

ul{

    list-style-type: none;
    margin: 0;
    padding: 0;
    
}
a{
    text-decoration: none;

}
.nav-container{

background: #6700EE;

a{

    color: white;

}

}
header{

    display: flex;
    justify-content: space-between;
    padding: 2em;
    .logo{

        color: #00F7FF;
        font-weight: bold;
        text-decoration: none;

    }
 
        ul{
            display: flex;
            a{
                text-decoration: none;

                display: block;
                padding: 0 1em;

            }
        }
    
}
.social-header{
    display: none;
}
.hero{
    background: #6E00FF;
    color: white;
    display: grid;
    text-align: center;
    padding: 4em;
     

}
.hero-design{

display: none;

}
.meet{
    display: flex;
    margin: 20px auto;
    width: 200px;
    font-weight: bold;
    color: #FF64CB;
   
    span{
        margin-top: 1em;
        margin-right: .5em ;
        img{
            height: 50px;
            width: 30px;
        }
    }
}
.scroll{

    width: 30px;
    margin-top: 2em;
}
section{

    padding: 4em 2em;
    text-align: center;

}
.featured{
    position: relative;


}
 .featured::before{
     content: "";
      position: absolute;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      background-color: #E5D5FA;
      top: 0;
      left: 0;
      z-index: -1;
        
 }
 .subtitle{

    text-transform: uppercase;
    font-weight: bold;
    color: #6E00FF;
    letter-spacing:1em;
    font-size: .85em;

 }
 .featured-title{

    color: black;
    font-weight: bold;
    font-size: 1.3em;
    margin-top: -.4em;
    display: block;

 }
 .featured-desc{
     color: #3B3B3B;margin-bottom: 3em;
     font-size: .85em;
     line-height: 1.8em;
     font-weight: 500;
 }
 .skills{
     background: #FF64CB;

 }
 .skills-container{
     ul{
         li{
             background: white;
             padding: 2em;
             border-radius: 1em;
             margin-bottom: 1em;
              .icon-container{

                height: 100px;

                display: grid;
                place-content: center;
                margin: 0 auto;
                 &.one{
                     width: 50px; 
                 }
                 &.two{

                 }
                 &.tree{

                 }
              }
              .skill-title{
                  font-weight: bold;

              }
              .featured-desc{

                margin-bottom: 2em;

              }
         }
         .porfolio{
             background: #F7F7F7;


         }
         .portfolio-container a img{
             border-radius: 1em;
             margin-bottom: 2em;

         }
         
     }
 }
 @media only screen and (min-width:800px){

    .featured,.portfolio{
        text-align: left;
    }
     .portfolio-container,.featured{

        display: grid;
        grid-template-columns: 40% auto;    
     }
     .left, .porfolio-left{

        display: grid;
        place-content: center;

         
     }
     .cc{
         

        height: 400px;
        border-radius: 30px;
     }
     .right{
         padding-bottom: 1em;
         margin-left: 20em;
         margin-top: 1em;


     }
    
 }