
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap');



.taille{

height: 22px;
width: 22px;

}
body{

    height: 100vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

ul{

    list-style-type: none;
    margin: 0;
    padding: 0;
    
}
a{
    text-decoration: none;

}
.nav-container{

background: #6700EE;
a{

    color: white;

}

}
header{

    display: flex;
    justify-content: space-between;
    padding: 2em;
    .logo{

        color: #00F7FF;
        font-weight: bold;
        text-decoration: none;

    }
 
        ul{
            display: flex;
            a{
                text-decoration: none;

                display: block;
                padding: 0 1em;

            }
        }
    
}
.social-header{
    display: none;
}
